@page "/login"
@rendermode InteractiveServer
@using PasswordAdmin.Models


@inject NavigationManager Nav

<h1>Login</h1>
<p>Log into your account.</p>

@if (HasError)
{
    <p style="color: #b00020; font-weight: 600;">❌ Invalid login attempt.</p>
}

<form method="post" action="/account/login" style="max-width:420px;">
    <AntiforgeryToken />

    <div style="margin-bottom:12px;">
        <label>Email</label>
        <input name="email" class="form-control" />
    </div>

    <div style="margin-bottom:12px;">
        <label for="password">Password</label>
        <input name="password" type="@dp1.getType()" class="form-control" id="password" />
        <div class="eye-logo" @onclick="@dp1.ShowPassword"><img src="@dp1.getEyeSrc()" alt="@dp1.getEyeAlt()"></div>
    </div>

    <div style="margin-bottom:12px;">

        <label style="margin-left:6px;">
            <input style="margin-right: 10px;" name="rememberMe" type="checkbox" />Remember me</label>
        </div>

        <button type="submit">Login</button>
    </form>

@code {
    DisplayPassword dp1 = new DisplayPassword();

    private bool HasError => Nav.ToAbsoluteUri(Nav.Uri).Query.Contains("error=1");
}