@page "/vault"


<PageTitle>Password Vault</PageTitle>

<h1>Password Vault</h1>

<a href="/create-password">new password</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Website</th>
            <th scope="col">User Name</th>
            <th scope="col">Encrypted Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Facebook</td>
            <td>Json</td>
            <td><input type="@dp1.GetPwdType()" value="test">
                <i class="eye-logo" @onclick="dp1.ShowPassword"><img src="@dp1.GetEyeSrc()" alt="@dp1.GetEyeAlt()"></i>
            </td>
        </tr>
    </tbody>
</table>

@code {
    DisplayPassword dp1 = new DisplayPassword();


}