@page "/create-password"

<h1>Add Password</h1>


<form method="post" action="/vault" style="max-width:820px;">
    <AntiforgeryToken />

    <div style="margin-bottom:16px;">
        <label style="display:block; margin-bottom:4px; font-weight:600;">Username</label>
        <input name="username" type="text" class="form-control" required />
    </div>

    <div style="margin-bottom:16px;">
        <label style="display:block; margin-bottom:4px; font-weight:600;">Website Name</label>
        <input name="website" type="text" class="form-control" required />
    </div>

    <div style="margin-bottom:16px;">
        <label style="display:block; margin-bottom:4px; font-weight:600;">Password</label>
        <input name="website" type="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Add Password</button>
</form>